#g-intro.lugat-container , .lugat-container .g-content{
    padding: 0px !important;
    margin: 0px !important;
}

#tabs {
    overflow: hidden;
    margin: 0px;
}
a {cursor:pointer;}


#tabs li {
    float:left; 
    list-style:none; 
    outline:none;
}

#tabs li a {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em;
    transition: 0.3s;
    background-color: #45b71b;
    color: white;
    font-weight: bold;
    border-bottom: 5px solid #45b71b;
}

#tabs li a.inactive{
    background-color: #38991d;
    border: none;
    margin-top: 5px;
}

#tabs li a:hover, #tabs li a.inactive:hover {
    background-color: #7cce5f;
}

.container {
    padding: 1em;
    border: 1px solid #ccc;
    background-color: white;
}

.container h2 { 
    margin-left: 15px;  
    margin-right: 15px;  
    margin-bottom: 10px; 
    color: #5685bc; 
}

.container p { 
    margin-left: 15px; 
    margin-right: 15px;  
    margin-top: 10px; 
    margin-bottom: 10px; 
    line-height: 1.3; 
    font-size: small; 
}

.container ul { 
    margin-left: 25px; 
    font-size: small; 
    line-height: 1.4; 
    list-style-type: disc; 
}

.container li { 
    padding-bottom: 5px; 
    margin-left: 5px;
}

@media all and (max-width: 1400px){
    #lugat-body{width:90% !important;}
}

@media only screen and (max-width: 1000px){
    #lugat-body{
        width: 95% !important;
    }
    .info-row{
        width: 100% !important;
    }
    .advantages-grid{
        grid-template-columns: 48% 48% !important;
    }
    #lugat-head-empty .search-row{
        padding: 2em 0 0.5em 0 !important;
    }
}

@media all and (max-width: 700px){
    .denotations-list, .referents-list{
        margin: 0px 4px !important; 
        white-space: normal !important;
    }
    .part-of-speech-block{
        margin: 0 !important;
    }
    .example_list, .referent-suggestions{
        margin-left: 1em !important;
    }
    .search-row{
        width: 80% !important;
    }
    .autocomplete{
        width: 90% !important;
    }
    #lugat-body{
        width:100% !important;
    }
    .info-row{
        margin: 0 !important;
        padding: 0.4em 0.4em 3em !important;
        border: none !important;
    }
    .advantages-grid{
        grid-template-columns: 98% !important;
    }
    .query-word_block{
        padding-left: 0.4em !important;
    }
    #add_new_word span{
        display: none;
    }
    .add-word-block #add-word-group{
        right: 0;
        width: 85vw !important;
    } 
    #special-symbols{
        grid-template-columns: 25% 25% 25% 25% !important;
        height: 88px !important;
        width: 90% !important;
    }
    div.with-keyboard div.autocomplete-items{
        top: 130px !important;
    } 
}

.lugat-container .g-container{
    width: 100% !important;
}
.lugat-header-description{
    display: none;
}

#lugat-head{
    background-color: #312f38;
}

#lugat-head.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 5px #595959;
  z-index: 1;
}

#lugat-head.sticky + #lugat-body {
  padding-top: 50px;
}

.lugat-head-block{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

#lugat-body{
    margin: 2em 5%;
    width: 65%;
    display: inline-block;
}

.search-row{
    width: 40%;
    display: flex;
    margin: 10px 1em 10px 0em;
}

.search-row #search-input{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 1em;
    padding-right: 4em;
    height: 40px;
    z-index: 1;
    position: absolute;
    border: inherit;
}

.search-row #search-button{
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    width: auto !important;
    padding: 0px 1.2em !important;
    height: 40px;
    background-color: #7AD520;
    font-stretch: condensed;
    text-shadow: 1px 1px 1px #424141;
}

#lugat-head-empty {
    background-image: url('/modules/mod_lugat/images/books-bookshelf-education.jpg');
    background-position-y: 59%;
    background-size: cover;
}


#lugat-head-empty .search-row {
    padding: 3em 3em 0.5em 3em;
    width: 35%;
    margin: auto;
}
#lugat-head-empty .autocomplete {
    width: 100%;
}

#lugat-head-empty .lugat-header-description {
    display: inline-block;
    width: 100%;
    margin: 0.5em 0 2.5em 0;
    text-align: center;
    color: white;
}

.advantages-grid{
    padding: 1em 0;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 2%;
}
.advantage-block {
    text-align: center;
    background-color: white;
    border: 1px solid lightgray;
    padding: 1em;
    margin-bottom: 3%;
}
.advantage-block{
    position: relative;
}


.advantage-text{
    margin-top: 1rem;
}
.advantage-description{
    color: slategray;
    font-size: 15px;
}
.advantage-title{
    color: #312f38;
    font-size: 18px;
}
.advantage-title span {
    color: #a4a4a4;
    font-size: 15px;
    white-space: nowrap;
}
/*-----------------------*/

@media all and (max-width: 700px){
    .notfound-message{
        margin-left: 5% !important;
    }
    #lugat-body-not-found{
        background: none !important;
    }
}

#lugat-body-not-found{
    background-image: url('/modules/mod_lugat/images/not_found.jpg');
    min-height: max-content;
    background-size: cover;
    background-position-x: 60%;
}

.notfound-message{
    margin-left: 50%;
    padding-top: 7vw;
    margin-right: 10%;
    padding-bottom: 7vw;
}
.notfound-title{
    font-size: 19px;
    font-weight: bold;
}
.notfound-description span{
    color: #7ad520;
}
.notfound-title span{
   color: #7ad520;
}

.notfound-title .notfound-adding-suggest{
   margin-top: 10px;
}

.notfound-message .notfound-adding-suggest{
   margin-top: 10px;
}
.notfound-message .add-word-block{
    width: auto;
}
.notfound-message .add-word-block #add-word-group{
    width: inherit !important;
}

.add-word-block #add-word-group .button{
    width: auto !important;
}

.add-word-block #special-symbols{
    width: 90% !important;
    display: grid !important;
    height: 88px;
    grid-template-columns: 25% 25% 25% 25% !important;
    z-index: 100;
}

