 /* Style the buttons that are used to open and close the accordion panel */
.completed-homework .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.completed-homework .active, 
.completed-homework .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.completed-homework .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} 

.completed-homework .accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.completed-homework .active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.homework-block{
    background-color: white;
    border: 1px solid #dbdbdb;
    margin: 0.5em 0;
    padding: 0.5em;
}

.homeworks-list .homework-block .first-row{
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    margin: 0.5em 0;
    padding: 0.5em;
}
.homeworks-list .homework-block .second-row{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0.5em 0;
    padding: 0.5em;
}

.homeworks-list .homework-block .column{
    
}

.homework-student-block{
    color: darkgray;
    display: grid;
    grid-template-columns: 30% 30% 20% 20%;
    margin: 0.5em 0;
    padding: 0.5em;
}

.homework-student-block.completed{
    color: #424753 !important;
}